{% extends 'd_base.html'%}
{%load static%}

{% block content %}

<div class="containers">

    <table class="table table-bordered">
        <thead>
            <tr>
                
                <th>Item</th>
                <th>Recieved Stock</th>
                <th>Sold Stock</th>
                <th>Current Stock</th>
                
                
                
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td>whisky</td>
                <td>120</td>
                <td>100</td>
                <td>2o</td>
                
            </tr>
            
        </tbody>
    </table>
</div>


{%endblock content%}